{% load i18n %}
{% load staticfiles %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <script src="{% static 'buscador/jquery-1.11.3.min.js' %}"></script>

        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{% static 'buscador/bootstrap/css/bootstrap.min.css' %}">
		<!-- Optional theme -->
		<link rel="stylesheet" href="{% static 'buscador/bootstrap/css/bootstrap-theme.min.css' %}">
		<!-- Latest compiled and minified JavaScript -->
		<script src="{% static 'buscador/bootstrap/js/bootstrap.min.js' %}"></script>

        <link href="{% static 'buscador/estilos.css' %}" rel='stylesheet' type='text/css'>
        <script href="{% static 'buscador/funciones.js' %}" rel='stylesheet' type='text/css'> </script>
    </head>

    <div class="contenedor">
        {% block content %} 
        {% endblock %}
    </div>

</html>