
.contenedor{
	margin-right: 0;
	margin-left: 0;
}



@media(min-width: 768px){
	
	
}

@media(max-width: 767px){
	.contenido{
		padding-right: 8%;
		padding-left: 8%;
	}	
	
}



.buscador{
	margin-top: 10%;
}

.buscador img{
	width: 35%;
}

.ingreso{
	margin-top: 20px;
	width: 60%;
}

.busq{
	margin-top: 30px;
}

.btn-busq{
	width: 150px;
	background-color: black!important;
	color: white!important;
}

.barra-busq{
	background-color: #FBFBFB;
	padding: 2% 2% 2% 2%;
}

.barra-busq img{
	width: 100px;
}

.ingreso2{
	margin-right: 1%;
	margin-left: 1%;
	width: 40%;
}

.btn-busq2{
	width: 60px;
}

.cant-resultados{
	padding-top: 1%;
	padding-bottom: 1.5%;
	color: #808080;
	font-size: small;
}

.resultado{
	margin-bottom: 25px;
}

.resultado h4{
	margin-bottom: 1px;
	color: #1a0dab;
}

.resultado p{
	color: #545454;
	margin-bottom: 1px;
	height: 81px;
	overflow: hidden;
}

.visitas{
	color: #808080;
	font-size: small;
}

.visitas a{
	color: #808085;
	font-size: small;
}

.step-links a{
	color: #1a0dab;
	font-size: 17px;
}


.glyphicon {
  position: relative;
  top: 3px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: 18px;
  margin-left: 10px;
  padding-right: 10px;
 }

 .btn-paginador{
 	margin-bottom: 3%;
 }

 .btn-busq2 i{
 	top: 0px!important;
 }